/.deps/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/configure
/missing
/stamp-h1
/*.o
/initial.cxx
/parse.cxx
/parse.hxx
/sigmsgs.cxx
/git_info.hxx
/xs
/xsdump
/xs.log
*~
